In [1]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('example.csv')

# 처음 5행 확인
print(df.head())

# 처음 3행 확인
print(df.head(3))

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000
3    David   40      Houston   85000
4      Eva   22      Phoenix   60000
      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000

In [6]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('example.csv')

# 처음 5행 확인
df.head()

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000
3    David   40      Houston   85000
4      Eva   22      Phoenix   60000

In [7]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('example.csv')

# 마지막 5행 확인
print(df.tail())

# 마지막 3행 확인
print(df.tail(3))

     Name  Age          City  Salary
5   Frank   28  Philadelphia   75000
6   Grace   32   San Antonio   82000
7  Hannah   27     San Diego   78000
8     Ian   45        Dallas   95000
9    Jane   31      San Jose   83000
     Name  Age       City  Salary
7  Hannah   27  San Diego   78000
8     Ian   45     Dallas   95000
9    Jane   31   San Jose   83000

In [10]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('example.csv')

# 기본 통계 정보 확인
df.describe()

             Age        Salary
count  10.000000     10.000000
mean   31.500000  79800.000000
std     6.948221   9953.223933
min    22.000000  60000.000000
25%    27.250000  75750.000000
50%    30.500000  81000.000000
75%    34.250000  84500.000000
max    45.000000  95000.000000

In [4]:
# DataFrame의 크기 확인
df.shape

(10, 4)