In [1]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('example.csv')

# 데이터 출력
print(df)

      Name  Age          City  Salary
0    Alice   25      New York   70000
1      Bob   30   Los Angeles   80000
2  Charlie   35       Chicago   90000
3    David   40       Houston   85000
4      Eva   22       Phoenix   60000
5    Frank   28  Philadelphia   75000
6    Grace   32   San Antonio   82000
7   Hannah   27     San Diego   78000
8      Ian   45        Dallas   95000
9     Jane   31      San Jose   83000