In [1]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv('example.csv')

# 데이터 출력
print(df)

      Name  Age          City  Salary
0    Alice   25      New York   70000
1      Bob   30   Los Angeles   80000
2  Charlie   35       Chicago   90000
3    David   40       Houston   85000
4      Eva   22       Phoenix   60000
5    Frank   28  Philadelphia   75000
6    Grace   32   San Antonio   82000
7   Hannah   27     San Diego   78000
8      Ian   45        Dallas   95000
9     Jane   31      San Jose   83000

In [2]:
import pandas as pd

# Excel 파일 불러오기
df = pd.read_excel('example.xlsx')

# 데이터 출력
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
import pandas as pd

# 특정 열만 불러오기
df = pd.read_csv('example.csv', usecols=['Name', 'Age'])

# 데이터 출력
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eva   22
5    Frank   28
6    Grace   32
7   Hannah   27
8      Ian   45
9     Jane   31

In [4]:
import pandas as pd

# 헤더 없는 파일 불러오기
df = pd.read_csv('example_no_header.csv', header=None)

# 데이터 출력
print(df)

         0   1             2      3
0    Alice  25      New York  70000
1      Bob  30   Los Angeles  80000
2  Charlie  35       Chicago  90000
3    David  40       Houston  85000
4      Eva  22       Phoenix  60000
5    Frank  28  Philadelphia  75000
6    Grace  32   San Antonio  82000
7   Hannah  27     San Diego  78000
8      Ian  45        Dallas  95000
9     Jane  31      San Jose  83000